<ion-content>
  <ion-header [translucent]="true">

    <ion-toolbar mode="ios">
      <ion-title class="tituloPrincipal">
        Sugerencias DuocUC PAO
      </ion-title>
    </ion-toolbar>

   <ion-toolbar>
    <ion-card>
        <ion-item lines="none">
          <span>
           Estudiante :&nbsp; {{nombreUsuario}}

          </span>
        </ion-item>
    </ion-card>
   </ion-toolbar>

    <a id="topOfPage" href="#topOfPage"></a>

    <ion-card-header>
      <ion-card-title>Ingrese su sugerencia</ion-card-title>
      <ion-card-subtitle class="publicacionSeleccionada" style="display: none;" >{{publicacionSeleccionada}}</ion-card-subtitle>
    </ion-card-header>

    <ion-item class="ion-padding-horizontal">
      <ion-label position="floating" color="Secondary">Título</ion-label>
      <ion-input [(ngModel)]="publicacion.title"></ion-input>
    </ion-item>

    <ion-item class="ion-padding-horizontal">
      <ion-label position="floating" color="Secondary">Sugerencia</ion-label>
      <ion-textarea [(ngModel)]="publicacion.body"></ion-textarea>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col><ion-button shape="round" expand="block" (click)="limpiarPublicacion()">Limpiar</ion-button></ion-col>
        <ion-col><ion-button shape="round" expand="block" (click)="guardarPublicacion()">Guardar</ion-button></ion-col>
      </ion-row>
    </ion-grid>

  </ion-header>

  <ion-card class="sin-bordes">
    <ion-card-title class="con-padding-top">Sugerencias recientes </ion-card-title>
  </ion-card>

  <ion-card *ngFor="let p of publicaciones; let i=index; trackBy: getIdentificadorItemPublicacion">

    <ion-card-header>
      <h6>(Publicación #{{p.id}}) {{p.name}}</h6>
      <h4>{{p.title}}</h4>
    </ion-card-header>

    <ion-card-content>
      {{p.body}}
    </ion-card-content>

    <ion-button (click)="editarPublicacion(p)">
      <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="eliminarPublicacion(p)">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-router-outlet></ion-router-outlet>
</ion-content>
